
obj/Debug/net5.0-windows/Avalonia/references
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/reAudioPlayerML.Properties.Resources.resources
obj/Release/reAudioPlayerML.pdb
obj/Release/reAudioPlayerML.ml.resources
obj/Release/reAudioPlayerML.exe
obj/Release/reAudioPlayerML.csprojAssemblyReference.cache
obj/Release/reAudioPlayerML.csproj.GenerateResource.cache
obj/Release/reAudioPlayerML.csproj.FileListAbsolute.txt
obj/Release/reAudioPlayerML.csproj.CoreCompileInputs.cache
obj/Release/reAudioPlayerML.csproj.CopyComplete
obj/Release/net5.0-windows/ref/reAudioPlayerML.dll
obj/Release/net5.0-windows/reAudioPlayerML.YoutubeDownloader.resources
obj/Release/net5.0-windows/reAudioPlayerML.SpotifyLinker.resources
obj/Release/net5.0-windows/reAudioPlayerML.RevealedStream.resources
obj/Release/net5.0-windows/reAudioPlayerML.Radio.resources
obj/Release/net5.0-windows/reAudioPlayerML.Properties.Resources.resources
obj/Release/net5.0-windows/reAudioPlayerML.pdb
obj/Release/net5.0-windows/reAudioPlayerML.ml.resources
obj/Release/net5.0-windows/reAudioPlayerML.genruntimeconfig.cache
obj/Release/net5.0-windows/reAudioPlayerML.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0-windows/reAudioPlayerML.GameLauncher.resources
obj/Release/net5.0-windows/reAudioPlayerML.GameAdder.resources
obj/Release/net5.0-windows/reAudioPlayerML.dll
obj/Release/net5.0-windows/reAudioPlayerML.designer.runtimeconfig.json
obj/Release/net5.0-windows/reAudioPlayerML.designer.deps.json
obj/Release/net5.0-windows/reAudioPlayerML.csprojAssemblyReference.cache
obj/Release/net5.0-windows/reAudioPlayerML.csproj.GenerateResource.cache
obj/Release/net5.0-windows/reAudioPlayerML.csproj.FileListAbsolute.txt
obj/Release/net5.0-windows/reAudioPlayerML.csproj.CoreCompileInputs.cache
obj/Release/net5.0-windows/reAudioPlayerML.csproj.CopyComplete
obj/Release/net5.0-windows/reAudioPlayerML.assets.cache
obj/Release/net5.0-windows/apphost.exe
obj/Release/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/reAudioPlayerML.csproj.nuget.g.targets
obj/reAudioPlayerML.csproj.nuget.g.props
obj/reAudioPlayerML.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/reAudioPlayerML.YoutubeDownloader.resources
obj/Debug/reAudioPlayerML.SpotifyLinker.resources
obj/Debug/reAudioPlayerML.RevealedStream.resources
obj/Debug/reAudioPlayerML.Radio.resources
obj/Debug/reAudioPlayerML.Properties.Resources.resources
obj/Debug/reAudioPlayerML.ml.resources
obj/Debug/reAudioPlayerML.ilmerge
obj/Debug/reAudioPlayerML.GameLauncher.resources
obj/Debug/reAudioPlayerML.GameAdder.resources
obj/Debug/reAudioPlayerML.csprojAssemblyReference.cache
obj/Debug/reAudioPlayerML.csproj.ResolveComReference.cache
obj/Debug/reAudioPlayerML.csproj.GenerateResource.cache
obj/Debug/reAudioPlayerML.csproj.FileListAbsolute.txt
obj/Debug/reAudioPlayerML.csproj.CoreCompileInputs.cache
obj/Debug/reAudioPlayerML.csproj.CopyComplete
obj/Debug/reAudioPlayer Apollo.pdb
obj/Debug/reAudioPlayer Apollo.exe
obj/Debug/net5.0-windows/ref/reAudioPlayerML.dll
obj/Debug/net5.0-windows/reAudioPlayerML.YoutubeDownloader.resources
obj/Debug/net5.0-windows/reAudioPlayerML.SpotifyLinker.resources
obj/Debug/net5.0-windows/reAudioPlayerML.RevealedStream.resources
obj/Debug/net5.0-windows/reAudioPlayerML.Radio.resources
obj/Debug/net5.0-windows/reAudioPlayerML.Properties.Resources.resources
obj/Debug/net5.0-windows/reAudioPlayerML.pdb
obj/Debug/net5.0-windows/reAudioPlayerML.ml.resources
obj/Debug/net5.0-windows/reAudioPlayerML.ml.en.resources
obj/Debug/net5.0-windows/reAudioPlayerML.ml.de.resources
obj/Debug/net5.0-windows/reAudioPlayerML.genruntimeconfig.cache
obj/Debug/net5.0-windows/reAudioPlayerML.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0-windows/reAudioPlayerML.GameLauncher.resources
obj/Debug/net5.0-windows/reAudioPlayerML.GameAdder.resources
obj/Debug/net5.0-windows/reAudioPlayerML.dll
obj/Debug/net5.0-windows/reAudioPlayerML.designer.runtimeconfig.json
obj/Debug/net5.0-windows/reAudioPlayerML.designer.deps.json
obj/Debug/net5.0-windows/reAudioPlayerML.csprojAssemblyReference.cache
obj/Debug/net5.0-windows/reAudioPlayerML.csproj.GenerateResource.cache
obj/Debug/net5.0-windows/reAudioPlayerML.csproj.FileListAbsolute.txt
obj/Debug/net5.0-windows/reAudioPlayerML.csproj.CoreCompileInputs.cache
obj/Debug/net5.0-windows/reAudioPlayerML.csproj.CopyComplete
obj/Debug/net5.0-windows/reAudioPlayerML.assets.cache
obj/Debug/net5.0-windows/reAudioPlayer Apollo.designer.runtimeconfig.json
obj/Debug/net5.0-windows/reAudioPlayer Apollo.designer.deps.json
obj/Debug/net5.0-windows/en/reAudioPlayerML.resources.dll
obj/Debug/net5.0-windows/de/reAudioPlayerML.resources.dll
obj/Debug/net5.0-windows/Avalonia/resources
obj/Debug/net5.0-windows/Avalonia/original.pdb
obj/Debug/net5.0-windows/Avalonia/original.dll
obj/Debug/net5.0-windows/apphost.exe
obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/da98637d-2756-41f0-b3de-c12868040da0_reAudioPlayerML.pdb
obj/Debug/b79c49af-a0b7-4e51-80f7-fde1cd80423c_reAudioPlayerML.pdb
obj/Debug/90e8cf12-5c43-44ef-84d8-5f888a157a7e_reAudioPlayerML.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
bin/Release/WindowsBase.dll
bin/Release/System.Xml.Linq.dll
bin/Release/System.Xml.dll
bin/Release/System.Windows.Forms.dll
bin/Release/System.Net.Http.dll
bin/Release/System.Drawing.dll
bin/Release/System.dll
bin/Release/System.Deployment.dll
bin/Release/System.Data.dll
bin/Release/System.Data.DataSetExtensions.dll
bin/Release/ressources/games.txt
bin/Release/reAudioPlayerML.pdb
bin/Release/reAudioPlayerML.exe.config
bin/Release/reAudioPlayerML.exe
bin/Release/PresentationCore.dll
bin/Release/net5.0-windows/x86/tesseract41.dll
bin/Release/net5.0-windows/x86/leptonica-1.80.0.dll
bin/Release/net5.0-windows/x64/tesseract41.dll
bin/Release/net5.0-windows/x64/leptonica-1.80.0.dll
bin/Release/net5.0-windows/TMDbLib.dll
bin/Release/net5.0-windows/taglib-sharp.dll
bin/Release/net5.0-windows/Swan.Lite.dll
bin/Release/net5.0-windows/SpotifyAPI.Web.dll
bin/Release/net5.0-windows/SpotifyAPI.Web.Auth.dll
bin/Release/net5.0-windows/runtimes/win-x86/native/git2-106a5f2.pdb
bin/Release/net5.0-windows/runtimes/win-x86/native/git2-106a5f2.dll
bin/Release/net5.0-windows/runtimes/win-x64/native/git2-106a5f2.pdb
bin/Release/net5.0-windows/runtimes/win-x64/native/git2-106a5f2.dll
bin/Release/net5.0-windows/runtimes/ubuntu.18.04-x64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/ubuntu.16.04-arm64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/rhel-x64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/osx/native/libgit2-106a5f2.dylib
bin/Release/net5.0-windows/runtimes/linux-x64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/fedora-x64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/debian.9-x64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/debian-arm64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/alpine.3.9-x64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/runtimes/alpine-x64/native/libgit2-106a5f2.so
bin/Release/net5.0-windows/RestSharp.dll
bin/Release/net5.0-windows/RestEase.dll
bin/Release/net5.0-windows/ressources/youtube-dl.exe
bin/Release/net5.0-windows/ressources/youtube-dl-updater.bat
bin/Release/net5.0-windows/ressources/www/radio/index.html
bin/Release/net5.0-windows/ressources/www/playlists/index.html
bin/Release/net5.0-windows/ressources/www/index.html
bin/Release/net5.0-windows/ressources/www/games/index.html
bin/Release/net5.0-windows/ressources/www/favicon.ico
bin/Release/net5.0-windows/ressources/www/control/index.html
bin/Release/net5.0-windows/ressources/www/control/_veryfirstbasiccontrol.html
bin/Release/net5.0-windows/ressources/spotify.html
bin/Release/net5.0-windows/ressources/games.txt
bin/Release/net5.0-windows/ressources/games.json
bin/Release/net5.0-windows/ressources/ffmpeg.exe
bin/Release/net5.0-windows/ressources/faviconApollo.png
bin/Release/net5.0-windows/ressources/controls/webPlay.png
bin/Release/net5.0-windows/ressources/controls/webPause.png
bin/Release/net5.0-windows/ref/reAudioPlayerML.dll
bin/Release/net5.0-windows/reAudioPlayerML.runtimeconfig.json
bin/Release/net5.0-windows/reAudioPlayerML.runtimeconfig.dev.json
bin/Release/net5.0-windows/reAudioPlayerML.pdb
bin/Release/net5.0-windows/reAudioPlayerML.exe
bin/Release/net5.0-windows/reAudioPlayerML.dll.config
bin/Release/net5.0-windows/reAudioPlayerML.dll
bin/Release/net5.0-windows/reAudioPlayerML.deps.json
bin/Release/net5.0-windows/QRCoder.dll
bin/Release/net5.0-windows/NHotkey.WindowsForms.dll
bin/Release/net5.0-windows/NHotkey.dll
bin/Release/net5.0-windows/Newtonsoft.Json.dll
bin/Release/net5.0-windows/MetroFramework.Fonts.dll
bin/Release/net5.0-windows/MetroFramework.dll
bin/Release/net5.0-windows/MetroFramework.Design.dll
bin/Release/net5.0-windows/LongFixed-NYoutubeDL.dll
bin/Release/net5.0-windows/LibGit2Sharp.dll.config
bin/Release/net5.0-windows/LibGit2Sharp.dll
bin/Release/net5.0-windows/lib/win32/x86/git2-106a5f2.pdb
bin/Release/net5.0-windows/lib/win32/x86/git2-106a5f2.dll
bin/Release/net5.0-windows/lib/win32/x64/git2-106a5f2.pdb
bin/Release/net5.0-windows/lib/win32/x64/git2-106a5f2.dll
bin/Release/net5.0-windows/lib/ubuntu.18.04-x64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/ubuntu.16.04-arm64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/rhel-x64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/osx/libgit2-106a5f2.dylib
bin/Release/net5.0-windows/lib/linux-x64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/fedora-x64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/debian.9-x64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/debian-arm64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/alpine.3.9-x64/libgit2-106a5f2.so
bin/Release/net5.0-windows/lib/alpine-x64/libgit2-106a5f2.so
bin/Release/net5.0-windows/IGDB.dll
bin/Release/net5.0-windows/Google.Apis.YouTube.v3.dll
bin/Release/net5.0-windows/Google.Apis.dll
bin/Release/net5.0-windows/Google.Apis.Core.dll
bin/Release/net5.0-windows/Google.Apis.Auth.PlatformServices.dll
bin/Release/net5.0-windows/Google.Apis.Auth.dll
bin/Release/net5.0-windows/favicon.ico
bin/Release/net5.0-windows/EmbedIO.dll
bin/Release/Microsoft.WindowsAPICodePack.xml
bin/Release/Microsoft.WindowsAPICodePack.Shell.xml
bin/Release/Microsoft.WindowsAPICodePack.Shell.dll
bin/Release/Microsoft.WindowsAPICodePack.dll
bin/Release/Microsoft.CSharp.dll
bin/Release/MetroFramework.Fonts.dll
bin/Release/MetroFramework.dll
bin/Release/MetroFramework.Design.dll
bin/Debug/net5.0-windows/
bin/.vs/slnx.sqlite
*.old
MetroFramework.txt
